@page
@model BookStore.Pages.PurchaseConfirmModel
@{
}

<div class="text-center">
    <h2>Thank you for shopping with us!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>