@{
}
@model BooksViewModel




<div class="jumbotron">
    <h1 class="display-3">Welcome to the Book Store!</h1>
    
    <p class="lead">
        Here are some of our best selling books.
    </p>
    <hr class="my-2">
    <p>
        Read and approved by Spencer Hilton!
    </p>

</div>
@foreach (Book b in Model.Books)
{
    <partial name="Summary" model="b" />
}

        <div page-act="@Model.PageInfo" page-action="Index" page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" class="btn-group pull-right m-1" page-classes-enabled="true"></div>
