@{
    ViewData["Title"] = "Quandrants";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<h2>@ViewData["Title"]</h2><br />

<div class=" container text-center border rounded">
    <div class="row border">
        <div class="col-sm font-weight-bolder border">Stephen Covey's Time Management Matrix</div>
    </div>
    <div class="row border">
        <div class="col-sm border"> </div>
        <div class="col-sm border font-weight-bold">Urgent</div>
        <div class="col-sm border font-weight-bold">Not Urgent</div>
    </div>
    <div class="row border">
        <div class="col-sm border font-weight-bold">Important</div>
        <div class="col-sm border">Quadrant 1</div>
        <div class="col-sm border">Quadrant 2</div>
    </div>
    <div class="row border">
        <div class="col-sm border font-weight-bold">Not Important</div>
        <div class="col-sm border">Quadrant 3</div>
        <div class="col-sm border">Quadrant 4</div>
    </div>
</div>